<%- include('partials/header'); -%>

<div class="container1">
	<div class="row">
		<h2></h2>
	</div>

	<div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left" src="1.png" height="400px" width="670px"/>
          <div class="content-heading"><h1><span id="colorDisplay">WELCOME TO USON MECHANICS</span></h1></div>
          <p><span id="pcolor">Any Car, Any Repair</span></p>
  </div>
     </div>

     </div>
    </div>

<%- include('partials/footer'); -%>
