<%- include('partials/header'); -%>

<h1 style="margin-top: 30px; margin-bottom: 20px">Insurance Check</h1>

<h1 style="color: #A8D0E6; font-weight: 400; text-transform: none">You vehicle insurance is valid till <%= vehicle[0].insurance_expiry %></h1>


<%- include('partials/footer'); -%>
