body{
  background: #232b2b;
  /* font-family: Karla; */
}

.container1{
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 170px;
  margin-bottom: auto;
}

h1{
  color: white;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}

#dash h3{
  color: #F8E9A1;
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
  text-transform:none;
  padding: 20px 0;
  font-size: 2.3em;

}

#pcolor{
  color: #3BBA9C;
}

p{
  text-align: center;
  font-size: 130%;
}

#colorDisplay{
  font-size: 200%;
}

#brand{
  color: #3BBA9C;
  font-weight:bold;
  font-family: Karla;
}

.block{
  color: white;
}

.fa-user-circle{
  color: #3BBA9C;
}

.fa-user-cog{
  color: #3BBA9C;
}

.lower{
  font: white;
  font-size: 70%;

}

.span4 img {
    margin-right: 80px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

/* login and register page css */

html,body{
/* height: 100%; */
background-size: cover;
}

.container2{
height: 100%;
align-content: center;
}

.card{
height: 400px;
margin-top: auto;
margin-bottom: 100px;
width: 400px;
background-color: rgba(0,0,0,0.2) !important;
}


.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #3BBA9C;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #3BBA9C;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #3BBA9C;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.fa-facebook-square{
  color: #3BBA9C;
}

.fa-google-plus-square{
  color: #3BBA9C;
}

.fa-twitter-square{
  color: #3BBA9C;
}


/* enquiry form css */
#enq .form-control{
  background-color: #232b2b;
  color: white;
}

#contact{
    background-color: #232b2b;
    font-family: 'Roboto', sans-serif;
}

#contact .well{
    margin-top:120px;
    border-radius:0;
}

#contact .form-control{
    border-radius: 0;
    border:1px solid white;
    box-shadow: 0px 0px 5px white;
}

#details .form-control{
    border-radius: 0;
    border:1px solid white;
    box-shadow: 0px 0px 5px white;
}

#contact button{
    border-radius:0;
    /* border:2px solid white; */
    color: #232b2b;
    background: white;
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    /* color: black; */
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

#contact button:hover{
  background-color: #3BBA9C;
  color: #232b2b;
}

#contact .row{
    margin-bottom:30px;
}

@media (max-width: 768px) {
    #contact iframe {
        margin-bottom: 15px;
    }

}


/* Dashboard css */
#dash1{
  margin-top: 200px;
  border-radius: 0;
  border: 5px solid #A8D0E6;

}

#dash2{
  margin-top: 85px;
  margin-left: 100px;
  border-radius: 0;
  border: 5px solid #A8D0E6;
}

#dash button{
    border-radius:0;
    /* border:2px solid white; */
    color: #232b2b;
    background: white;
    display: block;
    width: 100%;
    border: none;
    background-color: #F8E9A1;
    /* color: white; */
    padding: 12px 28px;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    height: 50px;
}

#dash button:hover{
  background-color: #A8D0E6;
  color: white;
}

.profile {
  display: inline-block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border:5px solid #F8E9A1;
  background: #232b2b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("profile2.png");
  left: 50%;
  right: 50%;
  margin-top: -150px;
  margin-right: -150px;
  margin-left: 140px;
}


/* location module styling */
#appointment{
    background-color: #232b2b;
    font-family: 'Roboto', sans-serif;
}

#appointment .marg{
    margin-top:40px;
    margin-bottom: 40px;
    border-radius:0;
}

#appointment .form-control{
    border-radius: 0;
    border:1px solid white;
    box-shadow: 0px 0px 5px white;
}

#appointment button{
    border-radius:0;
    /* border:2px solid white; */
    color: #232b2b;
    background: white;
    display: block;
    width: 100%;
    border: none;
    background-color: #A8D0E6;
    /* color: black; */
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

#appointment button:hover{
  background-color: white;
  color: #232b2b;
}
